@import './base.css';
/* = = = = = = = = = = = = = = = = = = */
/* WRAPPER                             */
/* = = = = = = = = = = = = = = = = = = */
.wrapper {
    height: 100vh;
}



/* = = = = = = = = = = = = = = = = = = */
/* HEADER                              */
/* = = = = = = = = = = = = = = = = = = */
header, footer {
    padding: 0 100px;
    background-color: #810CA8;
}

header nav ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}

/* = = = = = = = = = = = = = = = = = = */
/* FOOTER                              */
/* = = = = = = = = = = = = = = = = = = */
footer nav ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}

/* = = = = = = = = = = = = = = = = = = */
/* CONTENT                             */
/* = = = = = = = = = = = = = = = = = = */
.content {
    padding: 40px 100px;
}

.content div+div {
    margin: 80px 0;
}

/* Introduction */
.introduction {
    display: flex;
    justify-content: space-between;
}

.introduction article {
    width: 50vw;
}

/* Companies */
.companies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.companies article, .companies p {
    text-align: center;
}

.companies p {
    width: 50vw;
}

.companies ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 100px;
}

.companies i {
    font-size: 5rem;
    color: #D1D1D1;
}

/* Map */
.map-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.map-section article, .map-section p {
    text-align: center;
}

#map {
    margin: -60px 0;
    width: 75%;
    height: 500px;
}

#map a, button {
    display: none;
}